body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #96E9C6; /* Light gray background */
}

header {
    background-color: #6C22A6;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #83C0C1; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #6962AD; /* Blue button */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Flashcard styling */
.flashcard {
    background-color: #f8f9fa; /* Lighter gray for flashcards */
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar styling */
.navbar {
    /* Use flexbox to layout the navbar items horizontally */
    display: flex;
    /* Align the navbar items vertically */
    align-items: center;
    /* Set the background color of the navbar */
    background-color: #6C22A6;
    /* Add some padding around the navbar */
    padding: 10px;
}

/* Style the navbar links */
.navbar a {
    /* Remove the default underline from the links */
    text-decoration: none;
    /* Set the color of the links */
    color: white;
    /* Add some margin around the links */
    margin: 10px;
}

/* Change the color of the links on hover */
.navbar a:hover {
    color: yellow;
}
